<template >
        <lightning-card icon-name="standard:OpportunityLineItem"> 
                <lightning-accordion allow-multiple-sections-open active-section-name="a">
                  <template if:true={fieldsetNameProp}>
                  <template if:true={objectNameProp}>
                  <template if:true={wiredFieldsTracked}>
                        <lightning-accordion-section name="a" label={sectionLabel}>
                          <lightning-record-form
                            record-id={recordId}
                            object-api-name={objectApiName}
                            fields={wiredFieldsTracked}
                            mode={visibilitySetting}
                            columns="2"
                          >
                      </lightning-record-form>
                    </lightning-accordion-section>
                  </template>
                  </template>
                </template>
              </lightning-accordion>
        </lightning-card>
      </template>