.THIS p {
    font-size: 13px !important;
}
.THIS .outerBox:hover {
    box-shadow: 0 0 11px rgba(33,33,33,.4);
}

.THIS .buttonBrand {
    background-color : #A11D16 !important;
    border-color : #A11D16 !important;
}

.THIS .buttonDisabledBrand {
    background-color : #C9C9C9 !important;
    border-color : #C9C9C9 !important;
}

.THIS .normalButton {
    color : #A11D16 !important;
    border-color : #A11D16 !important;
}

.THIS .errorMessage {
    border: 1px solid #f2a199;
    background-color: #fdedea;
    border-radius: 5px;
    justify-content: center;
    display: flex;
    
}