<template>
    <lightning-card title={label.TRAV_My_BU_Helpful_Links} icon-name="action:web_link">
        <div class="slds-grid slds-wrap">
            <div class="slds-col slds-size_1-of-2">
            <ul class="slds-list--dotted">
                <template for:each={recordList1} for:item="buLink">
                    <li key={buLink.MasterLabel}>
                        <lightning-formatted-url value={buLink.TRAV_Link__c} label={buLink.MasterLabel} target="_blank"></lightning-formatted-url>
                    </li>
                </template>
            </ul>
            </div>
            <div class="slds-col slds-size_1-of-2">
                <ul class="slds-list--dotted">
                <template for:each={recordList2} for:item="buLink">
                    <li key={buLink.MasterLabel}>
                        <lightning-formatted-url value={buLink.TRAV_Link__c} label={buLink.MasterLabel} target="_blank"></lightning-formatted-url>
                    </li>
                </template>
                </ul>
            </div>
        </div>
    </lightning-card>
</template>