.THIS p.displayBlock {
    display : block !important;
}
.THIS p.displayNone {
    display : none !important;
}
.THIS .display {
    display : block !important;
}
.THIS .hide { 
    display : none !important;
}