.THIS .buttonBrand {
    background-color : #A11D16 !important;
    border-color : #A11D16 !important;
}
.THIS .normalButton {
    color : #A11D16 !important;
    border-color : #A11D16 !important;
}

.THIS .slds-form-element__control {
    padding-left : 0% !important;
}
.THIS .slds-modal__container{
    padding : 2rem 0 !important;
}