.THIS .rowStyle {
    /*background-color: #16325c;
    height:1.6em;*/
    font-weight: 800;
    color: #ffffff;
    padding-top: 9px;
    padding-left: 4px;
    background: #A11D16;
    font-family: "Helvetica Neue",Helvetica,Arial;
    font-size: 11px;
    height: 3em;	
}
.THIS .slds-form-element__label{
    display: none;
}
.THIS th.table-test {
    text-align: -webkit-center;
}

/*  Define the background color for all the ODD background rows*/ 
.THIS  tr:nth-child(odd){ 
    /*background: #c9dbf5;*/
    background:#F2F3F4;
}

.THIS tr:nth-child(even){
    /*background: #dae5f4;*/
    background:#E5E7E9
}
.THIS TD{
    /*font-weight: bold;*/
    font-family: sans-serif;
   /* padding-bottom : 30px;*/
}
.THIS .select-auto-width > .slds-form-element__control > .slds-select_container{
    display: inline-block;
}
.THIS .displayBlock {
    display : block !important;
} 
.THIS .displayNone {
    display : none !important;
}
.THIS .slds-textarea {
    height:65px !important;
    width:156px !important;
}
.THIS button.slds-button.slds-button_icon {
    color: white !important;
}
.THIS .slds-form-element__icon {
    padding-top: 0%;   
}