<template>
  <lightning-card title={label.daysLeftTitle} icon-name="standard:work_capacity_limit" size="x-large">
  <!-- Display data about current accounting cycle based on response -->   
  <template if:true={data}>
    <div class="slds-m-around_medium">
          <div class="slds-m-around_medium slds-box " style="text-align:center; ">
              <p style="display:inline-block; font-size:large;" title="Days Left"><b>{data.intDaysLeft}</b></p>
              <hr style="margin:var(--lwc-spacingSmall,0.25rem);">
              <div class="slds-grid">
                <div class="slds-col">
                  <span title="Current Accounting Month">{data.strAccountMonthLabel}</span>
                </div>
                <div class="slds-col">
                  <span title="Accounting Month End Date">{data.dtEndDateForAccountingMonth}</span>
                </div>
              </div>
          </div>
    </div>
  </template>
  <!-- Display generic error message if no response is returned -->
  <template if:false={data}>
    <div class="slds-m-around_medium">
          <div class="slds-m-around_medium slds-box " style="text-align:center; ">
              <p style="display:inline-block; " title="Error">Please contact your System Administrator for further information.</p>
          </div>
    </div>
  </template>
  </lightning-card>
  
</template>