<template>
    <!--if:true will be if successfully subscribed-->
    <template if:true={subscription}>
        <template if:true={renderEventsTable}>
            <table class="slds-table slds-table_cell-buffer slds-table_bordered slds-table_striped">
                <thead>
                    <tr class="slds-line-height_reset">
                        <th>
                            <div class="slds-truncate" title="Replay ID">Replay ID</div>
                        </th>
                        <th>
                            <div class="slds-truncate" title="Subscription Name">AsyncApexJobId</div>
                        </th>
                        <th>
                            <div class="slds-truncate" title="Created Date">ExceptionType</div>
                        </th>
                        <th>
                            <div class="slds-truncate" title="Created By ID">JobScope</div>
                        </th>
                        <th>
                            <div class="slds-truncate" title="Created By ID">Message</div>
                        </th>
                        <th>
                            <div class="slds-truncate" title="Created By ID">Phase</div>
                        </th>
                        <th>
                            <div class="slds-truncate" title="Created By ID">RequestId</div>
                        </th>
                        <th>
                            <div class="slds-truncate" title="Created By ID">StackTrace</div>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <template for:each={tableEvents} for:item="streamingEvent">
                        <tr class="slds-hint-parent" key={streamingEvent.ReplayId}>
                            <td>
                                <div class="slds-truncate">{streamingEvent.ReplayId}</div>
                            </td>
                            <td>
                                <div class="slds-truncate">{streamingEvent.AsyncApexJobId}</div>
                            </td>
                            <td>
                                <div class="slds-truncate">{streamingEvent.ExceptionType}</div>
                            </td>
                            <td>
                                <div class="slds-truncate">{streamingEvent.JobScope}</div>
                            </td>
                            <td>
                                <div class="slds-truncate">{streamingEvent.Message}</div>
                            </td>
                            <td>
                                <div class="slds-truncate">{streamingEvent.Phase}</div>
                            </td>
                            <td>
                                <div class="slds-truncate">{streamingEvent.RequestId}</div>
                            </td>
                            <td>
                                <div class="slds-truncate">{streamingEvent.StackTrace}</div>
                            </td>
                        </tr>
                    </template>
                </tbody>
            </table>
        </template>
    </template>
    <lightning-button-group>
        <lightning-button label="Re-subscribe to event" onclick={handleSubscribe}>Resubscribe</lightning-button>
        <lightning-button label="Unsubscribe from event" onclick={handleUnsubscribe}>Unsubscribe</lightning-button>
    </lightning-button-group>
</template>