.THIS {
}

/* Custom padding, you cannot use style attribute with "lightning:layoutItem" and SLDS
   did not have pixle perfect mesurments */
.THIS .Item_Padding-Left{ 
    padding-left:12px;
}

.THIS .Item_Padding-Right{
    padding-right:12px;
}

.THIS .x-Large{
    height: 50px;
}